.tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #e7eadd;
}

.tab-item {
  color: #000000;
  font-size: x-large;
}

.add-item-button {
  background-color: #e7eadd;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none !important; /* Use !important to ensure it's applied */
  font-size: xx-large;
}

.add-item-button:hover {
  background-color: #238636;
  text-decoration: none !important; /* Remove text decoration on hover */

  .MuiTab-root.Mui-selected {
    color: #238636; /* Change text color when selected */
  }

  .MuiTab-root.Mui-selected .MuiTab-wrapper {
    color: #238636;
  }
}
