/* Form.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: auto;
  width: 35%;
  height: 100%;
}

.register-form {
  background-color: white;
  padding: 11%;
  max-width: 90%;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.register-form h1 {
  text-align: center;
}

.register-form input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  margin-bottom: 15px;
}

.select-box select {
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form input:focus {
  border-color: #333;
}
.register-form h2 {
  color: #17a34a;
  font-size: large;
  font-weight: bolder;
}
.register-form h4 {
  color: rgba(0, 0, 0, 0.4);
  font-size: small;
  padding-bottom: 2%;
}
.register-form h5 {
  text-align: center;
  font-size: medium;
}

.register-form h5 a {
  color: #17a34a;
  text-decoration: underline;
}

.register-form .button-div {
  text-align: center;
  margin-top: 20px;
}

.register-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.register-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.register-form button:hover {
  background-color: #17a34a;
}

/* Form.css */
.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 90vh;
  width: 30%;
}

.sign-in-form {
  background-color: white;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.sign-in-form input {
  padding: 10px 15px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  margin-bottom: 15px;
}

.sign-in-form input:focus {
  border-color: #333;
}

.sign-in-form h5 {
  text-align: center;
  margin-top: 10px;
}

.sign-in-form h5 a {
  color: #17a34a;
  text-decoration: underline;
}

.sign-in-form .button-div {
  text-align: center;
  margin-top: 20px;
}

.sign-in-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.sign-in-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.sign-in-form button:hover {
  background-color: #17a34a;
}
.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.animation-a1 {
  animation-delay: 2s;
}

.animination-a2 {
  animation-delay: 2.1s;
}

.header > h2 {
  margin: 0;
  color: #17a34a;
  margin-left: 5%;
  font-weight: bolder;
  font-size: xx-large;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 5%;
}
