.Restaurant {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-top: 20px;
  height: 100vh;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f4f2;
  border-radius: 10px;
  padding: 1%;
  height: 73%;
}

.user-card img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  margin-bottom: 20px;
  margin-top: 2%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.user-info h4 {
  margin: 0;
}

.user-info h6 {
  margin: 5px 0;
}

.user-info button,
.user-info a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #238636;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.user-info button:hover,
.user-info a:hover {
  background-color: #18552a;
}

.cuisine-container {
  background-color: #f9f4f2;
  border-radius: 10px;
  padding: 1%;
  height: 70%;
}
.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  width: 22.22%;
  font-size: large;
}

.checkbox-group label {
  flex-grow: 5;
  margin: 2%;
}

.checkbox-group input[type='checkbox'] {
  margin-left: auto;
  margin-right: 5px;
  transform: scale(1.5);
}
.button-container {
  display: flex;
  justify-content: center;
  background-color: #238636;
  margin-bottom: 1%;
}

.button-container button {
  background-color: #238636;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #18552a;
}

.pastorders-container {
  display: grid;
  grid-column: span 2;
  gap: 20px;
  background-color: #f9f4f2;
  border-radius: 10px;
  padding: 20px;
}